<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/bootstrap-zephyr.min.css" %}">
  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  
  <style>
    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>


  
<div class="container">

  <nav class="navbar navbar-expand-lg bg-dark mt-2 mb-5" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tickets:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <form class="d-flex" action="{% url 'tickets:find_ticket' %}" method="post">
        {% csrf_token %}
        <input class="form-control me-sm-2" type="text" name="id_recu" id="id_recu" placeholder="Numéro de récu">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Chercher</button>
      </form>
    </div>
  </nav>

  
  <div class="row mt-5">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card border-secondary m-4">
        <div class="card-header text-center">Aujourd'hui</div>
        <div class="card-body text-center" style="height: 7rem;">
          <h1 class="card-title">{{ today_count }} <br> {% if today_count == 1 %}Récu{% else %}Récus{% endif %} </h1>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card border-secondary m-4">
        <div class="card-header text-center">Cette semaine</div>
        <div class="card-body text-center" style="height: 7rem;">
          <h1 class="card-title">{{ week_count }} <br> {% if week_count == 1 %}Récu{% else %}Récus{% endif %} </h1>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card border-secondary m-4">
        <div class="card-header text-center">Ce Mois</div>
        <div class="card-body text-center" style="height: 7rem;">
          <h1 class="card-title">{{ month_count }} <br> {% if month_count == 1 %}Récu{% else %}Récus{% endif %}  </h1>
        </div>
      </div>
    </div>


    

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card border-secondary m-4">
        <div class="card-header text-center">Statistique global</div>
        <div class="card-body text-center" style="height: 7rem;">
          <h5 class="card-title">
            Clients : {{ global.clients }}<br>
            Récus: {{ global.recus }}<br>
            Utilisateurs: {{ global.users }}
          </h5>      
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  document.addEventListener('keydown', function(event) {
    if (event.key === "/") {
        document.getElementById('id_recu').focus();
        event.preventDefault();
    }
  });
</script>

</body>
</html>