{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recu</title>
    <style>
        *, html {
            margin: 0;
            padding: 0; 
        }
        body {
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 12px;
        }

        #footer{
            font-size: 10px;
        }
        #info{
            font-size: 20px;
            font-weight: bolder;
        }
        #info2{
            font-size: 10px;
        }

    </style>
</head>
<body style="width: 250px;" onload='window.print()'>   

    <table>
        <tr>
            <td><img src="{% static "infoplus.png" %}" alt="Logo Info plus" width="90px" height="90px"></td>
            <td>
                <p id="info">Id: <b>{{ data.id }}</b><br></p>
                <p id="info2">Crée à: <b>{{ data.cree_a }}</b> <br>
                Sortie le: <b>{{ data.modifie_a }}</b> <br>
                Crée par : <b>{{ data.cree_par.username }} </b> <br>
                Représantant : <b>{{ data.represantant.username }} </b></p>
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <td>
                Nom et Prénom: <b>{{ data.client.nom }}</b><br>
                Article: <b>{{ data.objet.nom }}</b><br>
                Marque: <b>{{ data.marque }}</b>
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <td>
                Problème: <b>{{ data.probleme }}</b><br>
                Remarque: <b>{{ data.note }}</b>
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <td width="140px">
                Prix: <b>{{ data.prix }}</b>
            </td>
            <td>
                Avance: <b>{{ data.accompte }}</b>
            </td>
        </tr>
        <tr>
            <td width="140px">
            </td>
            <td>
                Reste: <b>{{ data.get_reste }}</b>
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <center>
        <div id="footer">
            <div>
            يجب الإستضهار بهذا الوصل لإستلام الهاتف أو الحاسوب<br>
            المحل لا يتحمل مسؤولية الهاتف أو الحاسوب بعد مدة 3 أشهر من الإستلام
            </div>
            <hr>
            <div>
            INFO+ Avenue Habib Bourguiba - Haouaria 8045 <br>
            MF: 10634/7/B
            </div>
            <hr>
            <div>
            GSM Technique : 20 417 010 <br>
            GSM Commercial : 20 417 056
            </div>
        </div>
    </center>
</body>
</html>